<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <!--=============== REMIXICONS ===============-->
   <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

   <!--=============== CSS ===============-->
   <link rel="stylesheet" href="{{url_for('static',filename='asset/css/styles.css')}}">

   <title>Animated login form - Bedimcode</title>
</head>
<body>

    {% block content %}
    
    {% endblock content %}

 <!--=============== MAIN JS ===============-->
 <script src="{{url_for('static',filename='asset/js/main.js')}}"></script>
</body>
</html>