{% extends 'auth/starter.html' %}
{% block title %}
    Login
{% endblock %}

{% block content %}
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="row w-100 m-0">
        <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
            <div class="card col-lg-4 mx-auto">
                <div class="card-body px-5 py-5  ">
                <img src="{{url_for('static', filename='assets/images/court.jpg')}}" class="mx-auto" style="width: 3rem;" />
                <h3 class="card-title text-left mb-3">Login</h3>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-dismissible fade show text-danger" role="alert">
                            {{message}}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                    {% endif %}
                {% endwith %}
                <form action="/login/" method="post">
                <div class="form-group">
                    <label>Username or email *</label>
                    <input type="text" name="email" class="form-control p_input" required>
                </div>
                <div class="form-group">
                    <label>Password *</label>
                    <input type="text" name="password" class="form-control p_input" required>
                </div>
                <div class="form-group d-flex align-items-center justify-content-between">
                    <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input"> Remember me </label>
                    </div>
                    <a href="#" class="forgot-pass">Forgot password</a>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn col-12 btn-primary btn-block enter-btn">Login</button>
                </div>
          
                <p class="sign-up">Don't have an Account?<a href="/register"> Sign Up</a></p>
                </form>
            </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
        </div>
        <!-- row ends -->
    </div>
  {% endblock %}