{% extends 'dashboard/base.html' %}

{% block title %}
    Service request Form
{% endblock %}

{% block main %}

    <div class="content-wrapper">
        <div class="page-header">
        <h3 class="page-title">Service</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Service</li>
            </ol>
        </nav>
    </div>

    <div class="row">
        {% if me.role.value == 'client' %}
        <div class="col-lg-4 mx-auto stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Create Service Form</h4>
                <p class="card-description">Fill in all the fields to create a service. </p>
                <form class="forms-sample" action="/dashboard/service/request/" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="exampleSelectGender">Select service:</label>
                        <select name="service"   class="form-control" id="exampleSelectGender">
                          <option>Open this select menu</option >
                          {% for s in services %}
                          <option value="{{s.id}}">{{s.name}}</option>
                          {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                      <label for="exampleSelectGender">National Registration Card:</label>
                      <input type="text" name="nrc_number" class="form-control" id="inputGroupFile01">
                    </div>

                    <div class="form-group mb-3">
                        <label for="exampleTextarea1">Attach Supporting Document</label>
                        <input type="file" name="pdf_file" class="form-control" id="inputGroupFile01">
                    </div>
                    <div class="form-group">
                      <label for="exampleSelectGender">District:</label>
                      <input type="text" name="district" class="form-control" id="inputGroupFile01">
                    </div>
                    <div class="form-group">
                        <label for="exampleTextarea1">Reason</label>
                        <textarea name="reason"  class="form-control" id="exampleTextarea1" rows="4"></textarea>
                    </div> 
                  <button type="submit" class="btn btn-primary me-2">Submit</button>
                  <button class="btn btn-dark">Cancel</button>
                </form>
              </div>
            </div>
        </div>
        {% endif  %}
        <div class=" {% if me.role.value == 'admin' %}  col-lg-12 {% else %}  col-lg-8 {% endif %}grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Service Request Forms</h4>
                </p>
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        {% if me.role.value == 'admin' %}
                            <th>Clients</th>
                        {% endif %} 
    
                        <th>Service</th>
                        <th>file</th>
                        <th>Reason</th>
                        <th>Status</th>
                        <th>Date</th>
                        {% if me.role.value == 'admin' %}
                        <th>Action</th>
                        {% endif %}
                      </tr>
                    </thead>
                    {% if me.role.value == 'admin' %}
                    <tbody>
                      {% for request in servicerequest %}
                      <tr>
                       
                         <td>{{ request.user.email }}</td>
                        
                          <td>{{ request.service.name }}</td>
                          <td> 
                            {% if request.pdf_file %}
                            <a href="{{ url_for('main.download_file', request_id=request.id) }}" class="btn btn-primary">Download File</a>
                            {% else %}
                            No File
                            {% endif %}
                          </td>
                          <td>{{ request.reason }}</td>
    
                          <td><label class=" badge
                            {% if request.get_status() %}
                            badge-success
                            {% else %}
                            badge-warning
    
                            {% endif %}
                          ">{{request.get_status_text()}}</label></td>
                          <td>{{ request.updated }}</td>
                        
                          <td>
                            {% if request.get_status() %}
                            <button type="button" class="btn btn-danger disapprove-btn" data-request-id="{{ request.id }}">
                              <i class="mdi mdi-close-circle text-white"></i>
                              </button>
                            {% else %}
    
                            <button type="button" class="btn btn-success approve-btn" data-request-id="{{ request.id }}">
                              <i class="mdi mdi-check-circle text-white"></i>
                            </button>
                              
                            <a class="btn btn-danger ms-2" href="mailto:{{ request.user.email }}?subject=Declined%20of%20service%20request%20{{ request.service.name }}">Decline</a>


                            {% endif %}
                            
    
                          </td>
                         
                      </tr>
                      {% endfor %}
                      
                    </tbody>
                    {% endif %}
                    {% if me.role.value == 'client' %}
                    
                    <tbody>
                        {% for request in servicerequest %}
                        <tr>
                          {% if me.role.value == 'admin' %}
                          <td>{{ request.user.email }}</td>
                          {% endif %} 
                            <td>{{ request.service.name }}</td>
                            <td> 
                              {% if request.pdf_file %}
                              <a href="{{ url_for('main.download_file', request_id=request.id) }}" class="btn btn-primary">Download File</a>
                              {% else %}
                              No File
                              {% endif %}
                            </td>
                            <td>{{ request.reason }}</td>
      
                            <td><label class=" badge
                              {% if request.get_status() %}
                              badge-success
                              {% else %}
                              badge-warning
      
                              {% endif %}
                            ">{{request.get_status_text()}}</label></td>
                            <td>{{ request.updated }}</td>
                            {% if me.role.value == 'admin' %}
                            <td>
                              {% if request.get_status() %}
                              <button type="button" class="btn btn-danger disapprove-btn" data-request-id="{{ request.id }}">
                                <i class="mdi mdi-close-circle text-white"></i>
                                </button>
                              {% else %}
      
                              <button type="button" class="btn btn-success approve-btn" data-request-id="{{ request.id }}">
                                <i class="mdi mdi-check-circle text-white"></i>
                                </button>
                              {% endif %}
                              
      
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                    {% endif %}
                  
                  </table>
                </div>
              </div>
            </div>
        </div>
    </div>

    <script>
        document.querySelectorAll('.approve-btn').forEach(button => {
            button.addEventListener('click', () => {
                const requestId = button.dataset.requestId;
                fetch(`/approve_service_request/${requestId}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    // You can include a request body if needed
                    // body: JSON.stringify({}),
                })
                .then(response => {
                    if (response.ok) {
                        // Reload the page or update UI as needed
                        location.reload();
                    } else {
                        console.error('Failed to update status');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            });
        });

        document.querySelectorAll('.disapprove-btn').forEach(button => {
            button.addEventListener('click', () => {
                const requestId = button.dataset.requestId;
                fetch(`/disapprove_service_request/${requestId}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    // You can include a request body if needed
                    // body: JSON.stringify({}),
                })
                .then(response => {
                    if (response.ok) {
                        // Reload the page or update UI as needed
                        location.reload();
                    } else {
                        console.error('Failed to update status');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            });
        });
    </script>
    
{% endblock %}